/* Global Sections Styling */
.mainpage {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.mainpage-section {
    position: relative;
    height: 100vh;
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
    scroll-snap-align: start;
}

.mainpage-section-title {
    font-weight: 500;
}

/* Fixed Items */
.mainpage-downscroll-help {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    bottom: 20px;
    background-color: rgba(243, 243, 243, 0.396);
    border-radius: 10px;
    padding: 10px 20px;
    animation: wiggle-help infinite 2s ease-in-out;
}

@keyframes wiggle-help {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.mainpage-downscroll-help::after {
    display: block;
    justify-self: center;
    content: "Scroll Down";
}

/* Title */
.mainpage-head-section {
    display: flex;
    justify-content: center;
}
.mainpage-head-section > .mainpage-head-title {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    cursor: pointer;
}

.mainpage-head-title:hover {
    transform: scale(1.1);
}

.mainpage-mini-title {
    font-weight: 500;
}

.mainpage-main-title {
    font-size: 4rem;
    font-weight: bolder;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Quotes */
.mainpage-quotes {
    grid-row: 3;
}

.mainpage-quotes > * {
    font-family: "Oooh Baby", cursive;
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainpage-quotes-content {
    text-align: center;
    margin-bottom: 20px;
}

.mainpage-quotes-source::before {
    content: "- ";
}

/* Recruit Section */
.mainpage-recruit-section {
    display: grid;
    grid-template-rows: 50px 20px 1fr 20px 1fr 20px 1fr 60px;
}

.mainpage-recruit-group:nth-child(2) {
    grid-row: 3;
}

.mainpage-recruit-group:nth-child(3) {
    grid-row: 5;
}

.mainpage-recruit-group:nth-child(4) {
    grid-row: 7;
}

.mainpage-recruit-group {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainpage-recruit-group-title {
    margin-left: 30px;
    margin-bottom: 10px;
}

.mainpage-recruit-group-contents {
    font-size: 1.5rem;
    color: black;
    background-color: rgb(230, 234, 236);
    box-shadow: 0 0 10px 5px rgba(210, 210, 210, 0.506);
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainpage-recruit-group-contents-link {
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

.mainpage-recruit-group-contents-link[data-deactivated] {
    color: gray;
}

.mainpage-recruit-group-contents-link:not([data-deactivated]):hover {
    transform: scale(1.1);
}

/* Others */
.mainpage-section:not(.mainpage-head-section):not(.mainpage-recruit-section) {
    display: grid;
    height: 100%;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 1fr 50px 1fr;
}

.mainpage-section-title > .mainpage-section-title-text {
    position: relative;
    font-weight: 600;
}

.mainpage-section-title-underline {
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
}

.mainpage-section[data-dark-theme="true"] .mainpage-section-title-underline {
    background-color: white;
}

.mainpage-section-container, .mainpage-section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage-section-image {
    max-height: 100%;
}

.mainpage-section:not(.mainpage-head-section):not(.mainpage-recruit-section) > .mainpage-section-title {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.mainpage-section > [data-section-first=true] {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;
}

.mainpage-section > [data-section-last=true] {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
}

.mainpage-section-body-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 600;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainpage-section-body-paragraph {
    font-size: 1.5rem;
    line-height: 40px;
}

@media screen and (max-width: 1000px) {
    .mainpage-section:not(.mainpage-head-section):not(.mainpage-recruit-section) {
        grid-template-rows: 70px auto 1fr 60px !important;
        grid-template-columns: 1fr !important;
    }

    .mainpage-section > .mainpage-section-title {
        grid-column: 1 !important;
    }

    .mainpage-section > .mainpage-section-container {
        grid-row: 2 !important;
        grid-column: 1 !important;
        justify-self: center !important;
        margin-bottom: 30px;
    }

    .mainpage-section > .mainpage-section-body {
        grid-row: 3;
        grid-column: 1 !important;
        justify-self: center !important;
    }

    .mainpage-section-body-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .mainpage-section-body-paragraph {
        font-size: 1.2rem;
    }

    .mainpage-quotes > * {
        font-size: 1.5rem;
    }

    .mainpage-section-image {
        width: fit-content;
        max-width: 100%;
    }

    .mainpage-section-container {
        justify-self: end;
        margin-bottom: 0 !important;
    }

    .mainpage-recruit-group-title {
        font-size: 1.8rem;
    }

    .mainpage-recruit-group-contents {
        font-size: 1.5rem;
    }
}

/* Orbit */
.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    animation: spin 10s linear infinite;
    transform: rotate(45deg);
}

.rocket {
    position: absolute;
    top: -100px;
    left: -16px;
    width: 32px;
    height: 32px;
}

@keyframes spin {
    0% { transform: rotate(0deg) translateX(150px) translateY(0) rotate(0deg); }
    25% { transform: rotate(90deg) translateX(150px) translateY(0) rotate(90deg); }
    50% { transform: rotate(180deg) translateX(150px) translateY(0) rotate(180deg); }
    75% { transform: rotate(270deg) translateX(150px) translateY(0) rotate(270deg); }
    100% { transform: rotate(360deg) translateX(150px) translateY(0) rotate(360deg); }
}